@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-color: #005C53;
}
section {

    color: #9FC131;
    background-color: #042940/*16091D*/;

    width:70vw;
    margin: auto;

    border-radius: 10px;
    height: 50vh;
}

h1 {
    padding: 10px; 
    padding-top: 20px;
    text-align: center;
}
.campo {
    margin-bottom: 20px;
}


label {
    text-align: center;
    padding-bottom: 10px;
    label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}
}
input {
    text-align: left;
    display: block;
    margin-top: 10px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

input#ialtura:hover, input#ipeso:hover {
    color: black;
    background-color: #ececb9;
    transition-duration: 0.2s;
}

div#texto {
    line-height: 25px;
    margin-top: 10px;
}